<!DOCTYPE html>
<html lang="pl">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="MTAB-Hurtownia">
  <title>Pracownicy</title>
  <link href="{{ url_for('static', filename='styles.css') }}" rel="stylesheet">
  <!-- Bootstrap CDN -->
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet" integrity="sha256-7s5uDGW3AHqw6xtJmNNtr+OBRJUlgkNJEo78P4b0yRw= sha512-nNo+yCHEyn0smMxSswnf/OnX6/KwJuZTlNZBjauKhTK0c+zT+q5JOCx0UFhXQ6rJR9jg6Es8gPuD2uZcYDLqSw==" crossorigin="anonymous">
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha256-KXn5puMvxCw+dAYznun+drMdG1IFl3agK0p/pqT9KAo= sha512-2e8qq0ETcfWRI4HJBzQiA3UoyFk6tbNyG+qSaIBZLyW9Xf3sWZHN/lxe9fTh1U45DpPf07yj94KsUHHWe4Yk1A==" crossorigin="anonymous"></script>

</head>

<body>

  <nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
      <div id="navbar" class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
          <li><a href="/index.html">Strona główna</a>
          </li>
          <li class="active"><a href="/katalog">Katalog</a>
          </li>
          <li><a href="/magazyn">Magazyn</a>
          </li>
	  <li><a href="/zamowienia">Zamówienia</a>
          </li>
          <li><a href="/sklep">Sklep</a>
          </li>
	  <li><a href="/det">Transakcje detaliczne</a>
          </li>
          <li><a href="/pracownicy">Pracownicy</a>
          </li>
          <li><a href="/logout">Wyloguj się</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <div class="container">
    <div class="well">
      <h3>Produkty</h3>
      <p>
	<table>
	<tr>
	<th>ID Produktu</th>
	<th>Kategoria</th>
	<th>Firma</th>
	<th>Nazwa</th>
	<th>Opis</th>
	<th>Cena sugerowana</th>
	<th></th>
	</tr>
	{% for item in produkt %}
	<tr>
        <th>{{ item[0] }}</th>
	<th>{{ item[1] }}</th>
	<th>{{ item[2] }}</th>
	<th>{{ item[3] }}</th>
	<th>{{ item[4] }}</th>
        <th>{{ item[5] }}</th>
	<th><div style="text-align:center;"><form action="/produkt/{{ item[0] }}"><input type="submit" value="Usuń" /></form></div></th>
	</tr>
    	{% endfor %}
	</table>
      </p>
    </div>
   </div>
 
  <div class="container">
    <div class="well">
      <h3>Dodaj produkt</h3>
      <form method="post" action="/katalog">
        <p><input type="text" name="id_kategorii" value="" placeholder="ID Kategorii"></p>
        <p><input type="text" name="id_firmy" value="" placeholder="ID Firmy"></p>
        <p><input type="text" name="nazwa" value="" placeholder="Nazwa"></p>
        <p><input type="text" name="opis" value="" placeholder="Opis"></p>
        <p><input type="text" name="cena_sugerowana" value="" placeholder="Cena sugerowana"></p>
        <p class="submit"><input type="submit" name="commit" value="Dodaj"></p>
      </form>
    </div>
  </div>

  <div class="container">
    <div class="well">
      <h3>Firmy</h3>
	<p>    
	<table>
	<tr>
	<th>ID Firmy</th>
	<th>Rodzaj</th>
	<th>Nazwa</th>
	<th>Adres</th>
	<th>Telefon</th>
	<th></th>
	</tr>
	{% for item in firma %}
	<tr>
	<th>{{ item[0] }}</th>
	<th>{{ item[1] }}</th>
	<th>{{ item[2] }}</th>
	<th>{{ item[3] }}</th>
	<th>{{ item[4] }}</th>
	<th><div style="text-align:center;"><form action="/firma/{{ item[0] }}"><input type="submit" value="Usuń" /></form></div></th>
	</tr>
    	{% endfor %}
	</table>
	</p>
      <h3>Dodaj Firmę</h3>
      <form method="post" action="/nowa_firma">
        <p><input type="text" name="rodzaj_firmy" value="" placeholder="Rodzaj firmy"></p>
        <p><input type="text" name="nazwa_firmy" value="" placeholder="Nazwa"></p>
        <p><input type="text" name="adres" value="" placeholder="Adres"></p>
        <p><input type="text" name="telefon" value="" placeholder="Telefon"></p>
        <p class="submit"><input type="submit" name="commit" value="Dodaj"></p>
      </form>
    </div>
  </div>

  <div class="container">
    <div class="well">
      <h3>Kategorie</h3>
	<p>    
	<table>
	<tr>
	<th>ID Kategorii</th>
	<th>Kategoria</th>
	<th></th>
	</tr>
	{% for item in kategoria %}
	<tr>
	<th>{{ item[0] }}</th>
	<th>{{ item[1] }}</th>
	<th><div style="text-align:center;"><form action="/kategoria/{{ item[0] }}"><input type="submit" value="Usuń" /></form></div></th>
	</tr>
    	{% endfor %}
	</table>
	</p>
      <h3>Dodaj Kategorię</h3>
      <form method="post" action="/nowa_kategoria">
        <p><input type="text" name="opis_kategorii" value="" placeholder="Kategoria"></p>
        <p class="submit"><input type="submit" name="commit" value="Dodaj"></p>
      </form>
    </div>
  </div>

</body>
</html>
