<!DOCTYPE html>
<html lang="pl">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="MTAB-Hurtownia">
  <title>Pracownicy</title>
  <link href="{{ url_for('static', filename='styles.css') }}" rel="stylesheet">
  <!-- Bootstrap CDN -->
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet" integrity="sha256-7s5uDGW3AHqw6xtJmNNtr+OBRJUlgkNJEo78P4b0yRw= sha512-nNo+yCHEyn0smMxSswnf/OnX6/KwJuZTlNZBjauKhTK0c+zT+q5JOCx0UFhXQ6rJR9jg6Es8gPuD2uZcYDLqSw==" crossorigin="anonymous">
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha256-KXn5puMvxCw+dAYznun+drMdG1IFl3agK0p/pqT9KAo= sha512-2e8qq0ETcfWRI4HJBzQiA3UoyFk6tbNyG+qSaIBZLyW9Xf3sWZHN/lxe9fTh1U45DpPf07yj94KsUHHWe4Yk1A==" crossorigin="anonymous"></script>

</head>

<body>

  <nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
      <div id="navbar" class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
          <li><a href="/index.html">Strona główna</a>
          </li>
          <li><a href="/magazyn">Magazyn</a>
          </li>
	  <li><a href="/zamowienia">Zamówienia</a>
          </li>
          <li><a href="/sklep">Sklep</a>
          </li>
	  <li><a href="/det">Transakcje detaliczne</a>
          </li>
          <li class="active"><a href="/pracownicy">Pracownicy</a>
          </li>
          <li><a href="/logout">Wyloguj się</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <div class="container">
    <div class="well">
      <h3>Pracownicy</h3>
      <p>
	<table>
	<tr>
	<th>ID Pracownika</th>
	<th>Imię</th>
	<th>Nazwisko</th>
	<th>Telefon</th>
	<th>E-mail</th>
	<th>ID Etatu</th>
	<th>Od</th>
	<th>Do</th>
	<th>Pensja</th>
	<th>ID Stanowiska</th>
	<th>Stanowisko</th>
	<th></th>
	</tr>
	{% for item in wszystko %}
	<tr>
        <th>{{ item[0] }}</th>
	<th>{{ item[1] }}</th>
	<th>{{ item[2] }}</th>
	<th>{{ item[3] }}</th>
	<th>{{ item[4] }}</th>
        <th>{{ item[5] }}</th>
	<th>{{ item[6] }}</th>
	<th>{{ item[7] }}</th>
	<th>{{ item[8] }}</th>
	<th>{{ item[9] }}</th>
	<th>{{ item[10] }}</th>
	<th><div style="text-align:center;"><form action="/pracownik/{{ item[0] }}"><input type="submit" value="Usuń" /></form></div></th>
	</tr>
    	{% endfor %}
	</table>
      </p>
    </div>
   </div>


  <div class="container">
    <div class="well">
      <h3>Dodaj pracownika</h3>
      <form method="post" action="/pracownicy">
        <p><input type="text" name="imie" value="" placeholder="Imie pracownika"></p>
        <p><input type="text" name="nazwisko" value="" placeholder="Nazwisko Pracownika"></p>
        <p><input type="text" name="telefon" value="" placeholder="telefon"></p>
        <p><input type="text" name="mail" value="" placeholder="mail"></p>
        <p class="submit"><input type="submit" name="commit" value="Dodaj"></p>
      </form>
    </div>
  </div>

  <div class="container">
    <div class="well">
      <h3>Dodaj Etat</h3>
      <form method="post" action="/nowy_etat">
        <p><input type="text" name="od" value="" placeholder="Od"></p>
        <p><input type="text" name="do" value="" placeholder="Do"></p>
        <p><input type="text" name="pensja" value="" placeholder="Pensja"></p>
        <p><input type="text" name="id_stanowiska" value="" placeholder="id_stanowiska"></p>
        <p><input type="text" name="id_pracownika" value="" placeholder="id_pracownika"></p>
        <p class="submit"><input type="submit" name="commit" value="Dodaj"></p>
      </form>
    </div>
  </div>


  <div class="container">
    <div class="well">
      <h3>Stanowiska</h3>
	<p>    
	<table>
	<tr>
	<th>ID Stanowiska</th>
	<th>Stanowisko</th>
	<th></th>
	</tr>
	{% for item in stanowisko %}
	<tr>
	<th>{{ item[0] }}</th>
	<th>{{ item[1] }}</th>
	<th><div style="text-align:center;"><form action="/stanowisko/{{ item[0] }}"><input type="submit" value="Usuń" /></form></div></th>
	</tr>
    	{% endfor %}
	</table>
	</p>
      <h3>Dodaj Stanowisko</h3>
      <form method="post" action="nowe_stanowisko">
        <p><input type="text" name="stanowisko" value="" placeholder="Stanowisko"></p>
        <p class="submit"><input type="submit" name="commit" value="Dodaj"></p>
      </form>
    </div>
  </div>

</body>
</html>
