<!DOCTYPE html>
<html lang="pl">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="MTAB-Hurtownia">
  <title>Pracownicy</title>
  <link href="{{ url_for('static', filename='styles.css') }}" rel="stylesheet">
  <!-- Bootstrap CDN -->
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet" integrity="sha256-7s5uDGW3AHqw6xtJmNNtr+OBRJUlgkNJEo78P4b0yRw= sha512-nNo+yCHEyn0smMxSswnf/OnX6/KwJuZTlNZBjauKhTK0c+zT+q5JOCx0UFhXQ6rJR9jg6Es8gPuD2uZcYDLqSw==" crossorigin="anonymous">
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha256-KXn5puMvxCw+dAYznun+drMdG1IFl3agK0p/pqT9KAo= sha512-2e8qq0ETcfWRI4HJBzQiA3UoyFk6tbNyG+qSaIBZLyW9Xf3sWZHN/lxe9fTh1U45DpPf07yj94KsUHHWe4Yk1A==" crossorigin="anonymous"></script>

</head>

<body>
  <nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
      <div id="navbar" class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
          <li><a href="index.html">Strona główna</a>
          </li>
          <li><a href="magazyn.html">Magazyn</a>
          </li>
	  <li><a href="zamowienia.html">Zamówienia</a>
          </li>
          <li><a href="sklep.html">Sklep</a>
          </li>
	  <li><a href="det.html">Transakcje detaliczne</a>
          </li>
          <li class="active"><a href="pracownicy.html">Pracownicy</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <div class="container">
    <div class="well">
      <form method="post" action="pracownicy">
        <p><input type="text" name="imie" value="" placeholder="Imie pracownika"></p>
        <p><input type="text" name="nazwisko" value="" placeholder="Nazwisko Pracownika"></p>
        <p><input type="text" name="telefon" value="" placeholder="telefon"></p>
        <p><input type="text" name="mail" value="" placeholder="mail"></p>
        <p class="submit"><input type="submit" name="commit" value="Dodaj"></p>
      </form>
    </div>

    <div class="login-help">
      <p>Zapomniałeś hasła? <a href="index.html">Kliknij tutaj aby je zresetować</a>.</p>
    </div>
  </div>
    <div class="well">
      <h3>Dzień dobry</h3>
      <p>
        Pracownicy: Pracownik,Etat,Stanowisko.
      </p>
      <p>
      {{pracownik}}
      </p>
    </div>
  </div>
</body>

</html>
