<!DOCTYPE html>
<html lang="pl">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="MTAB-Hurtownia">
  <title>Magazyn</title>
  <link href="{{ url_for('static', filename='styles.css') }}" rel="stylesheet">
  <!-- Bootstrap CDN -->
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet" integrity="sha256-7s5uDGW3AHqw6xtJmNNtr+OBRJUlgkNJEo78P4b0yRw= sha512-nNo+yCHEyn0smMxSswnf/OnX6/KwJuZTlNZBjauKhTK0c+zT+q5JOCx0UFhXQ6rJR9jg6Es8gPuD2uZcYDLqSw==" crossorigin="anonymous">
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha256-KXn5puMvxCw+dAYznun+drMdG1IFl3agK0p/pqT9KAo= sha512-2e8qq0ETcfWRI4HJBzQiA3UoyFk6tbNyG+qSaIBZLyW9Xf3sWZHN/lxe9fTh1U45DpPf07yj94KsUHHWe4Yk1A==" crossorigin="anonymous"></script>

</head>

<body>
  <nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
      <div id="navbar" class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
          <li><a href="index.html">Strona główna</a>
          </li>
          <li><a href="magazyn">Magazyn</a>
          </li>
	  <li class="active"><a href="zamowienia">Zamówienia</a>
          </li>
          <li><a href="sklep">Sklep</a>
          </li>
	  <li><a href="det">Transakcje detaliczne</a>
          </li>
          <li><a href="pracownicy">Pracownicy</a>
          </li>
          <li><a href="logout">Wyloguj się</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <div class="container">
    <div class="well">
      <p>
	<h3>Zamówienia</h3>
	<table>
	<tr>
	<th>ID transakcji</th>
	<th>ID Firmy</th>
	<th>Data</th>
	<th>Rodzaj transakcji</th>
	<th>ID Zamówienia</th>
	<th>ID Produktu</th>
	<th>Cena</th>
	<th>Ilość</th>
	</tr>
	{% for item in zamowienia_lista %}
	<tr>
        <th>{{ item[0] }}</th>
	<th>{{ item[1] }}</th>
	<th>{{ item[2] }}</th>
	<th>{{ item[3] }}</th>
	<th>{{ item[4] }}</th>
        <th>{{ item[5] }}</th>
	<th>{{ item[6] }}</th>
	<th>{{ item[7] }}</th>
	</tr>
    	{% endfor %}
	</table>
      </p>
    </div>
   </div>

  <div class="container">
    <div class="well">
      <p>
	<h3>Produkty</h3>
	<table>
	<tr>
	<th>ID Produktu</th>
	<th>ID Kategorii</th>
	<th>Kategoria</th>
	<th>ID Firmy</th>
	<th>Firma</th>
	<th>Rodzaj</th>
	<th>Adres</th>
	<th>Telefon</th>
	<th>Produkt</th>
	<th>Opis</th>
	<th>Cena sugerowana</th>
	</tr>
	{% for item in zamowienia_produkty %}
	<tr>
        <th>{{ item[0] }}</th>
	<th>{{ item[1] }}</th>
	<th>{{ item[2] }}</th>
	<th>{{ item[3] }}</th>
	<th>{{ item[4] }}</th>
        <th>{{ item[5] }}</th>
	<th>{{ item[6] }}</th>
	<th>{{ item[7] }}</th>
	<th>{{ item[8] }}</th>
	<th>{{ item[9] }}</th>
	<th>{{ item[10] }}</th>
	</tr>
    	{% endfor %}
	</table>
      </p>
    </div>
   </div>

</body>

</html>
